// ------- COLORS -------

$turquoise: #006C6D;
$beige: #E6DECA;
$black: black;
$white: white;

// ------- FONTS -------

$titleFont: "AlexBrush-Regular";

$mainFont: "Montserrat-Regular";
$mediumFont: "Montserrat-Medium";
$lightFont: "Montserrat-Light";
$italicFont: "Montserrat-Italic";
$lightItalicFont: "Montserrat-LightItalic";